<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Angular Link -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- BootStrap Link -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<title>Insert title here</title>
</head>
<body ng-app="myApp">



	<h1>新增單筆</h1>
	<hr>
	<div ng-controller="getallcontroller">
		<div ng-controller="savecontroller">
		<form name="formex">
			transaction_id<input type="text" name="transaction_id" ng-model="userlist.transaction_id"><br>
			account_key <input type="text" name="account_key" ng-model="userlist.account_key"><br>
			amount <input type="text" name="amount" ng-model="userlist.amount"><br>
			channel_type<input type="text" name="channel_type" ng-model="userlist.channel_type"><br>
			currency_code<input type="text" name="currency_code" ng-model="userlist.currency_code"><br>
			transaction_key<input type="text" name="transaction_key" ng-model="userlist.transaction_key"><br>
			transaction_time<input type="text" name="transaction_time" ng-model="userlist.transaction_time"><br>
			transaction_type<input type="text" name="transaction_type" ng-model="userlist.transaction_type"><br>
			transaction_date<input type="text" name="transaction_date" ng-model="userlist.transaction_date"><br>
			<input class="btn btn-success" type="button" ng-click="save()" value="save"><br>
		</form>
		</div>
		
		<h1>刪除資料</h1>
		<hr>
		<div ng-controller="deleteonecontroller">
			<input type="text" ng-model="userlist.transaction_key">
			<input type="button" class="btn btn-danger" ng-click="deleteone()" value="刪除單筆">
		</div>
	<h1>查詢單筆</h1>
	<hr>
	<div ng-controller="getonecontroller">
		<input type="text" ng-model="userlist.transaction_key"> <input type="button"
			ng-click="findOne()" class="btn btn-primary" value="查詢單筆" >
		<table>
			<tr>
				<td>transaction_key</td>
				<td>transaction_date</td>
				<td>amount</td>
			</tr>
			<tr>
				<td>{{ Onedata.transaction_key }}</td>
				<td>{{ Onedata.transaction_date }}</td>
				<td>{{ Onedata.amount }}</td>
			</tr>
		</table>
	</div>
		<h1>查詢全部</h1>
		<hr>
		<input type="button" class="btn btn-warning" ng-click="getall()" value="查詢全部"> 
		<select ng-model="quantity" ng-change="sort()"><option ng-repeat="z in quantitylist">{{ z }}</option></select>
		
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"  ng-repeat="i in [].constructor(pagecount) track by $index" ><a class="page-link" href="#">{{ $index + 1 }}</a></li>
  </ul>
</nav>

		<table class="table">
			<thead class="thead-dark">
			<tr scope="col">
				<td >index</td>
				<td>transaction_key</td>
				<td>transaction_date</td>
				<td>amount</td>
				<td>修改</td>
			</tr>
			</thead>
			<tr scope="col" ng-repeat="x in result | orderBy:'transaction_key' | limitTo:quantity">
				<td>{{ $index }}</td>
				<td>{{ x.transaction_key }}</td>
				<td>{{ x.transaction_date }}</td>
				<td>{{ x.amount }}</td>
				<td><input ng-click="paste(x)" type="button" class="btn btn-primary" value="edit"></td>
			</tr>
		</table>
	</div>
</body>
<script>
var deletelist = "";
var app = angular.module("myApp", []);
var datalength = 0;
var pagecount = 0 ;
	app.controller("getallcontroller", function($scope, $http) {
		$scope.quantitylist = [ 5 , 10 , 15 , 20 , 30];
		$scope.getall = function() {
			$http.get("http://localhost:8080/Projectname/Transaction/GET/records").then(function(response) {
						$scope.result = response.data;
						datalength = response.data.length;
			});
		};
		$scope.sort = function(){
			if (datalength % $scope.quantity != 0){
				pagecount = Math.floor(datalength / $scope.quantity) + 1
				$scope.pagecount = pagecount;
			} else {
				pagecount = datalength / $scope.quantity ;
				$scope.pagecount = pagecount;
			}
		};

		$scope.paste = function(x) {
		    $scope.userlist = {
		    		   transaction_key: x.transaction_key,
		    		   account_key: "test",
		    		   amount: x.amount,
		    		   channel_type: x.channel_type,
		    		   currency_code: x.currency_code,
		    		   transaction_time: x.transaction_time,
		    		   transaction_type: x.transaction_type,
		    		   transaction_id: x.transaction_id,
		    		   transaction_date : x.transaction_date
		      				   };
			};
		

	});
	app.controller("getonecontroller", function($scope, $http) {
		$scope.findOne = function() {
			$http.get("http://localhost:8080/Projectname/Transaction/GET/record/"+ $scope.userlist.transaction_key).then(function(response) {
				$scope.Onedata = response.data;
			});
		};
	});
	app.controller('savecontroller',function($scope,$http) {
		$scope.save = function(){
			$http.post("http://localhost:8080/Projectname/Transaction/POST/items",$scope.userlist).then(function(response){
				alert("finished");
			})
			console.log($scope.userlist);
		}
	});
	app.controller("deleteonecontroller",function($scope,$http){
		$scope.deleteone = function(){
			$scope.deletelist = {
				transaction_key : $scope.userlist.transaction_key
			}
			$http.post("http://localhost:8080/Projectname/Transaction/DELETE/item",$scope.deletelist).then(function(response){
				alert(response.data);
			})
		};
	});	

</script>
</html>